out/**
patches/**
tools/**
NeutOS/**
libnx/**
ams/**
tools/**
hbl/**
hbmenu/**
hekate/**
mkdir/**
temppatches/**
atmosphere/**
hekate.version
hbl.version
hbmenu.version
ams.hash
neutos.hash
changelog.md
